<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Customer Name <%= customer.DisplayName %></h1>
  <p> 
Customer Name <%= customer.DisplayName %> <br>
 Balance <%= customer.Balance %>

  </p>
</body>
</html>