<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <h1>Employee <%= employee.QueryResponse.Employee[0].DisplayName %></h1>

  <button class='gen_btn'>Generate File</button>
  <p> 


Employee <%=  employee.QueryResponse.Employee[0].DisplayName %>
Employee <%=  employee.QueryResponse.Employee[0].GivenName %>
Employee <%=  employee.QueryResponse.Employee[0].Id %>

<button id="download-button">Download sample!</button>
     <script type="text/javascript" src="../javascripts/file-saver/FileSaver.js"></script>

    <script type="text/javascript">
      var downloadButton = document.getElementById("download-button");
      downloadButton.onclick = function(argument) {
        var xhr = new XMLHttpRequest();
        //var params = JSON.stringify({ appoverGUID: $reports });
        //xhr.setRequestHeader("Content-length", params.length);
        xhr.open('POST', '/getEmployee', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
            //console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "employeeDetails.xlsx");
          }
        };
        xhr.send();
      };
    </script>



  </p>
</body>
</html>