<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <h1>Report Generation </h1>


    <script type="text/javascript">
      var options = {
    useStyles: true,
    useSharedStrings: true
  };

  var workbook = new Excel.stream.xlsx.WorkbookWriter(options);

  //console.log(workbook);

console.log("this is local",local_reports);
  var worksheet = workbook.addWorksheet("My Sheet");

  worksheet.columns = [
    { header: local_reports.header., key: "id", width: 10 },
    { header: "Name", key: "name", width: 32 },
    { header: "D.O.B.", key: "DOB", width: 10 }
     
  ];

  worksheet.addRow({
     id: 100,
     name: "name",
     DOB: "DOB"
  }).commit();

  worksheet.commit();
  workbook.commit();
    </script>



  </p>
</body>
</html>