<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/buttonstyle.css">
  <title> Download QuickBook</title>
</head>
<body>
  <h1>Download Quickbook data in excel format</h1>
  <p> 
    <div>
<h2> Invoice Side </h2> <br>
<button class= "enableButton" id="call-sales-objects"> Call Objects </button> 
<button class= "enableButton" id="sales-invoice">Sales Invoices Item</button> </br> 

<button class= "enableButton" id="purchase-bill">Purchase Bill </button> </br>

<button class= "enableButton" id="credit-memo">Credit Memo </button> </br>

<button class= "enableButton" id="time-activity-header">Time Activity Header</button> 
<button class= "enableButton" id="time-activity">Time Activity Item</button> </br>

<!-- <button class= "disableButton" id="sales-payment">Payment</button> Bill Payment  Header</br></br>
 <button class= "disableButton" id="sales-payment-check">Check Payment</button> Payment Check  Items</br></br> 

<button class= "disableButton" id="sales-payment-BT">BT Payment</button> Payment Bank Transfer  Items</br></br> -->
    </div>

<div>
<h2> Payment Side</h2> <br>
<button class= "enableButton" id="ovpm_payment"> Payment </button> </br>
<button class= "enableButton" id="ovpm_billpayment"> BillPayment </button> </br>
<button class= "enableButton" id="journalEntry"> JournalEntry </button> </br>

<h2> Master Side</h2> <br>
<button class= "enableButton" id="vendor"> Vendor </button> </br>
<button class= "enableButton" id="customer"> Customer </button> </br>
<button class= "enableButton" id="employee"> Employee </button> </br>
<h2> Report Side</h2> <br>
<button class= "enableButton" id="agedReceivablesDetail"> Aged Receivables Detail </button> </br>
<button class= "enableButton" id="agedPayableDetail"> Aged Payable Detail </button> </br>

<!-- 
<button class= "disableButton" id="purchase-invoice-item">Purchase Invoices</button> Bill  Items </br></br>
<button class= "enableButton" id="purchase-payment">Payment</button> Bill Payment  Header</br></br>
<button class= "disableButton" id="purchase-payment-check">Check Payment</button> Bill Payment Check Items</br></br>

<button class= "disableButton" id="purchase-payment-BT">BT Payment</button> Bill Payment Bank Transfer  Items</br></br> -->
</div>

     <script type="text/javascript" src="../javascripts/file-saver/FileSaver.js"></script>

    
<script type="text/javascript">
    //Get Sales Invoice Header -- OPCH Sales
      var downloadButton = document.getElementById("call-sales-objects");
      downloadButton.onclick = function(argument) {
        var xhr = new XMLHttpRequest();
        //var params = JSON.stringify({ appoverGUID: $reports });
        //xhr.setRequestHeader("Content-length", params.length);
        xhr.open('POST', '/opch/callObjects', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          // if ( this.readyState == 4 && this.status == 200 ) {
          //   //console.log(this.response);
          //   var blob = new Blob([this.response], {type: ""});
          //   saveAs(blob, "OPCH_sales.xlsx");
          // }
        };
        xhr.send();
      };
    </script>

    
    <script type="text/javascript">
    //Get Sales Invoice Header -- OPCH Sales
      var downloadButton = document.getElementById("sales-invoice");
      downloadButton.onclick = function(argument) {
        var xhr = new XMLHttpRequest();
        //var params = JSON.stringify({ appoverGUID: $reports });
        //xhr.setRequestHeader("Content-length", params.length);
        xhr.open('POST', '/opch/getInvoice', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
            //console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OPCH_PCH1_sales.xlsx");
          }
        };
        xhr.send();
      };
    </script> 

    <script type="text/javascript">
     //Get Sales Invoice Item  PCH1
      var downloadBtn = document.getElementById("purchase-bill");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();
        //var params = JSON.stringify({ appoverGUID: $reports });
        //xhr.setRequestHeader("Content-length", params.length);
        xhr.open('GET', '/bill_invoice/', true);
        xhr.open('POST', '/bill_invoice/getPurchaseInvoice', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
            //console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OPCH_PCH1_Bill.xlsx");
          }
        };
        xhr.send();
      };
    </script>   

    <script type="text/javascript">
    //Get Credit Memo Header
      var downloadButton = document.getElementById("credit-memo");
      downloadButton.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/credit_memo/getCredit', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
           // console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OPCH_PCH1_CreditMemo.xlsx");
          }
        };
        xhr.send();
      };
    </script>


   

    <script type="text/javascript">
    //Get Credit Memo Header
      var downloadButton = document.getElementById("time-activity-header");
      downloadButton.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/time_activity/getTime', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
           // console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OPCH_TimeActivity.xlsx");
          }
        };
        xhr.send();
      };
    </script>


   <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("time-activity");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/time_activity/getTimeItem', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "PCH1_TimeActivity.xlsx");
          }
        };
        xhr.send();
      };
    </script>
    

    <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("ovpm_payment");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/ovpm_payment/getPayment', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OVPM_Payment.xlsx");
          }
        };
        xhr.send();
      };
    </script>

    <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("ovpm_billpayment");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/ovpm_billpayment/getbillPayment', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OVPM_billpayment.xlsx");
          }
        };
        xhr.send();
      };
    </script>

    <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("journalEntry");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/journalEntry/getjournalEntry', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OJDT_JDT1.xlsx");
          }
        };
        xhr.send();
      };
    </script>

    <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("customer");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/customer/getCustomer', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OCRD_CRD1_Customer.xlsx");
          }
        };
        xhr.send();
      };
    </script>

    <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("employee");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/employee/getEmployee', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OHEM_OITM.xlsx");
          }
        };
        xhr.send();
      };
    </script>

     <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("vendor");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/vendor/getVendor', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "OCRD_CRD1_Vendor.xlsx");
          }
        };
        xhr.send();
      };
    </script>

     <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("customerBalanceDetail");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/CustomerBalanceDetail/getCustomerBalance', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            // var blob = new Blob([this.response], {type: ""});
            // saveAs(blob, "OCRD_CRD1_Vendor.xlsx");
          }
        };
        xhr.send();
      };
    </script>
    <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("agedReceivablesDetail");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/agedReceivablesDetail/getAgedReceivables', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "report.xlsx");
          }
        };
        xhr.send();
      };
    </script>

    <script type="text/javascript">
     //Get Credit Memo Item  
      var downloadBtn = document.getElementById("agedPayableDetail");
      downloadBtn.onclick = function(argument) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/agedPayableDetail/getAgedPayables', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
          //  console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "reportAgedPayableDetail.xlsx");
          }
        };
        xhr.send();
      };
    </script>
  </p>
</body>
</html>