<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <h1>Report Kind <%= reports.Header.ReportName %></h1>

  <button class='gen_btn'>Generate File</button>
  <p> 

Report Kind <%= reports.Header.ReportName %>
<button id="download-button">Download sample!</button>
     <script type="text/javascript" src="../javascripts/file-saver/FileSaver.js"></script>

    <script type="text/javascript">
      var downloadButton = document.getElementById("download-button");
      downloadButton.onclick = function(argument) {
        var xhr = new XMLHttpRequest();
        //var params = JSON.stringify({ appoverGUID: $reports });
        //xhr.setRequestHeader("Content-length", params.length);
        xhr.open('POST', '/getFile', true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function(event) {
          if ( this.readyState == 4 && this.status == 200 ) {
            console.log(this.response);
            var blob = new Blob([this.response], {type: ""});
            saveAs(blob, "test.xlsx");
          }
        };
        xhr.send();
      };
    </script>



  </p>
</body>
</html>