extends layout

html(xmlns='http://www.w3.org/1999/xhtml', xmlns:ipp='')
	head
	meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
	title QBO Connect
	script(type='text/javascript', src='<%= appCenter %>/Content/IA/intuit.ipp.anywhere-1.3.1.js')
script.
	intuit.ipp.anywhere.setup({
	grantUrl: 'http://localhost:' + <%= port %> + '/requestToken',
	datasources: {
	quickbooks : true,  // set to false if NOT using Quickbooks API
	payments : false    // set to true if using Payments API
	}
	});
body
	ipp:connecttointuit
block content
	h1= title
	p Welcome to #{title}
