.enableButton {
	background-color:#44c767;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
				font-family:Arial;
	font-size:17px;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.enableButton:hover {
	background-color:#5cbf2a;
}
.enableButton:active {
	position:relative;
	top:1px;
}
.disableButton {
	background-color:#768d87;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.disableButton:hover {
	background-color:#6c7c7c;
}
.disableButton:active {
	position:relative;
	top:1px;
}
