/* 
    Created on : May 22, 2016, 2:14 PM
    Author     : Divya
*/

body{
	padding:0px;
}
/*header*/
.header{
	background:#FFF;
	padding:20px 40px 20px 40px;
	border-bottom: 5px solid #1abc9c;
}
#logo img{
	width:50%;
}
h3{
	color:#23a189;
}
h4{
	color: #23a189;
	padding: 8px;
}
.header .span8{
	float:right;
}
/*--*/
/*body*/
body{
	background-color:#FFF;
}
.container{
	width: 1024px;
	padding:0px;
	border-left: 3px solid  #1abc9c;
	border-right: 3px solid  #1abc9c;
	min-height:550px;
	background: #f5f5f5;
}
.row{
	margin-left:0px;
	margin-top:10px;
	padding:0px 15px;
}
.row2{
	border-top:10px solid  #1abc9c;
	border-bottom:10px solid  #1abc9c;
	padding-bottom: 10px;
}
.extract_div{
	text-align:center;
	color:#FFF;
	background:#1abc9c;
	margin:0px;
}
.extract_div p{
	font-size:20px;
}

/*details*/
select{
	margin:0px;
}

/*extract*/
.date_range p{
	float:left;
}
.date_range input{
	margin: 0px 0px 10px 10px;
}
.table td{
	border:none;
}
div.scroll {
	min-height:160px;
    overflow: scroll;
	border: 1px solid #23a189;
}
.objects .checkerr{
	color : red;
}
.exit_row{
	text-align:right;
}
.exit{
	background: none;
    border: none;
    color: #23a189;
    font-size: 21px;
    font-weight: bold;
    font-variant: small-caps;
}
.connection{
	background: none;
    color: #23a189;
    font-weight: bold;
    border: 1px solid;
    box-shadow: 2px 2px 2px 2px;
}
.extract{
	background: #FFF;
    color: #23a189;
    font-weight: bold;
}
.stat{
	color:green;
}
.err{
	color:red;
}
.objects{
	border-right:2px solid #1abc9c;
	padding:0px;
}
.trans{
	margin: 0px 71px 0px 88px;
}
.row2 .span8{
	margin:0px;
}
.footer{
	background:#23a189;
	color:#FFF;
	padding:20px;
}
.footer .row{
	margin:0px;
}
form{
	margin:0px;
}
.progress_row{
	margin-bottom:20px;
}